.legalServicesSection {
  padding: 112px 64px;
}

.legalServicesContainer {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.legalServicesText {
  flex: 1;
}

.legalServicesImg {
  width: 616px;
  height: 640px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.legalServicesSubtitle {
  margin-bottom: 16px;
}

.legalServicesTitle {
  color: var(--primary);
  margin-bottom: 16px;
}

.legalServicesDescription {
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .legalServicesSection {
    padding: 80px 32px;
  }

  .legalServicesContainer {
    flex-direction: column;
    text-align: center;
  }

  .legalServicesText,
  .legalServicesImg {
    max-width: 100%;
  }

  .legalServicesImg {
    height: auto;
    margin-bottom: 32px;
  }
}

@media (max-width: 480px) {
  .legalServicesSection {
    padding: 64px 16px;
  }
}
