.about {
  padding: 112px 0;
}

.aboutContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutText {
  max-width: 768px;
  text-align: center;
}

.aboutTitle {
  margin-bottom: 24px;
  color: var(--primary);
}

.aboutDescription {
  margin-bottom: 16px;
}

.aboutCards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 64px;
}

.aboutCard {
  min-width: calc(100% / 3);
  padding: 16px 24px;
  text-align: center;
  position: relative;
}

.aboutCard:nth-child(1)::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.aboutUsImage {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .aboutContainer {
    padding: 0 32px;
  }

  .aboutCards {
    flex-direction: column;
    gap: 32px;
  }

  .aboutCard {
    min-width: 100%;
    padding: 16px 0;
  }

  .aboutCard:nth-child(1)::after {
    display: none;
  }
}

@media (max-width: 480px) {
  .aboutContainer {
    padding: 0 16px;
  }

  .aboutCards {
    gap: 24px;
  }
}
